{% extends 'core/administrador/base.html' %}
{% load static %}
{% block contenido %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center text-muted">Lista de Mecánicos desde el API</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <!--<thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-muted m-0">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input">
                                                </label>
                                            </div>
                                        </th>
                                        <th> Client Name </th>
                                        <th> Order No </th>
                                        <th> Product Cost </th>
                                        <th> Project </th>
                                        <th> Payment Mode </th>
                                        <th> Start Date </th>
                                        <th> Payment Status </th>
                                    </tr>
                                </thead>-->
                                <tbody>
                                    {% for aux in lista %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'mecanicodetalle' aux.id %}">
                                                <div class="badge badge-pill badge-outline-info mr-1">Detalle</div>
                                            </a>
                                            {% if aux.imagen %}
                                                <img src="{{ aux.imagen}}" alt="">
                                            {% else %}
                                                <img src="{% static 'core/admin/assets/images/profile.png' %}" alt="">
                                            {% endif %}
                                            <span class="pl-2"> {{ aux.nombre }} {{ aux.apellido }} </span>
                                        </td>
                                        <td> {{ aux.rut }} </td>
                                        <td> {{ aux.tipo.descripcion }} </td>
                                        <td> {{ aux.habilitado }} </td>
                                        <!--AQUI TENIA AGREGADO LA FECHA DE INGRESO-->
                                        <td>
                                            <a href="{% url 'mecanicosupdate' aux.id %}">
                                                <div class="badge badge-outline-success">Modificar</div>
                                            </a>
                                            <a onclick="confirmarDelete({{aux.id}})">
                                                <div class="badge badge-outline-danger"><i
                                                        class="mdi mdi-trash-can">Eliminar</i></div>
                                            </a>
                                        </td>
                                        <td> {{ aux.fecha_ingreso }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--AQUI SE PODRIA AGREGAR EL ENDFOR PARA QUE QUEDE UNA CAJA PARA CADA MECÁNICO-->
    </div>
</div>

{% endblock %}